.recent-project{
    width: 100%;
    padding: 2rem 5em;
    background: #000;
}
.recent-project h1{
    font-size: 4rem;
    font-weight: 400;
}
.recent-project-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.recent-project-details{
    background: rgb(22, 22, 22);
}
.recent-project-image{
    width: 100%;
    height: 250px;
}

.recent-project-image img{
    width: 100%;
    height: 100%;
}
.recent-project-text{
    padding: 20px;
}
.recent-project-text h2{
    font-size:  1.2rem;
    color: white;
    font-weight: 400;
    opacity: .9;
}
.recent-project-text p{
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    word-break: break-all;
    white-space: normal;
    line-height: 1.5rem;
    color: #888;
}
a{
    text-decoration: none;
}
.recent-project-tools{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.recent-project-tools-used{
    padding: 5px;
    margin-left: 2px;
    background: rgb(44, 44, 44);
    border-radius: 2px;
    color: white;
}

.recent-project-buttons{
    display: flex;
    gap: 20px;
}

.recent-project-buttons .btn-link-tags{
    margin: 1rem 0px;
}

.recent-project-buttons .btn{
    padding: 8px;
    font-size: 14px;
    opacity: .9;
    border-radius: 4px;
    background: rgb(44, 44, 44);
    color: white;
    transition: .3s ease;
}

.recent-project-buttons .btn:hover{
    background: rgb(66, 66, 66);
}






@media screen and (max-width: 773px) {
    .recent-project{
        padding: 20px;
    }
}


@media screen and (max-width: 769px) {
    .recent-project{
        padding: 20px;
    }
}



@media screen and (max-width: 640px) {
    .recent-project h1{
        font-size: 2.3rem;
    }
    .recent-project-wrapper{
        display: flex;
        flex-direction: column;
    }
    .recent-project{
        width: 100%;
    }
}

@media screen and (max-width:460px){

    
.recent-project-tools{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.recent-project-tools-used{
    font-size: 13px;
}


    .recent-project-buttons .btn{
        padding: 8px;
        font-size: 12px;
    }
    .recent-project-buttons{
        display: flex;
        gap: 10px;
    }
}