.primary{
    background-color: #4658f5;
    color: white;
    padding: 7px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
   }
   
   .primary:hover{
       transform: scale(1.1);
   }
   
   