.hero{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 1, 0.5),rgba(0, 0, 1, 0.459)),url(../../assets/image/bg1.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10rem 5em ;
}

.hero h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2f2;
}
.hero-specialize-wrapper{
    width: 100%;
    display: flex;
    margin-top: 2.7rem;
}


.hero-specialize{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.hero-specialize-content{
    display: flex;
    align-items: center;
    gap: 0.51rem;
    padding: 10px;
    border-radius: 5px;
    background: #2c2c2c;
    color: #f2f2f2f2;


}

@media screen and (max-width:773px) {
    .hero{
        padding:6rem 20px ;
    }
    .hero-specialize{
        /* display: flex; */
        flex-direction: column;
    }
    .hero h2{
    line-height: 2rem;
}
}


@media screen and (max-width: 640px) {
    .hero h2{
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (max-width: 460px) {
    .hero h2{
        font-size: 1.6rem;
        text-align: center;
    }
}