.hero{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/map.png'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/map.png');
    background-position: center;
    background-size: contain;
    padding:5em ;
}

.hero h2{
    font-size: 40px;
    text-align: center;
}
.hero-specialize-wrapper{
    width: 100%;
    display: flex;
    margin-top: 2.7rem;
}


.hero-specialize{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.hero-specialize-content{
    padding: 10px;
    background: lime;

}