.project-wrapper h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f2f2f2;
    font-weight: 300;
}

p,
span {
    color: #f2f2f2;
    font-weight: 300;
}

.project-wrapper {
    padding: 5em;
    background: #000;
}

.project-wrapper h1 {
    padding-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}


.project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-details h1 {
    padding-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


.project-content {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.project-content-wrapper {
    width: 100%;
    display: flex;
    gap: 50px;
    background: rgba(22, 22, 22);
    gap: 20px;
    border-radius: 5px;
    padding: 20px;

}

.project-col {
    flex: 1;
}

.project-col h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.project-col p {
    font-size: 1rem;
    text-align: justify;
    color: lightgray;
    line-height: 1.4em;
    font-weight: 400;
}

.project-content-details {
    width: 100%;
}

.project-content-period {
    display: flex;
    gap: 15em;
    padding: 1.3em 0px;
}

.project-category h2 {
    font-size: 1rem;
    line-height: 2rem;
}

.project-category strong {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16px;
    color: rgba(242, 242, 242, 0.9);
}

.project-content-tools {
    display: flex;
    gap: 1rem;
}

.project-tools {
    padding: 7px;
    background: rgb(44, 44, 44);
    border-radius: 2px;
    color: white;
    font-size: 0.875rem;
}

.demo-prev {
    margin: 30px 0px;
    display: flex;
    gap: 1rem;
}

.demo-prev span {
    padding: 7px;
    font-size: 0.875rem;
    background: rgb(44, 44, 44);
    border-radius: 2px;
    color: white;
    font-weight: 400;
    border-radius: 4px;
    transition: .3s ease-in-out;
}

.demo-prev span:hover {
    background: rgb(77, 76, 76);
}

img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .project-content-wrapper {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .project-col-img {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width:773px) {
    .project-wrapper {
        padding: 20px;
    }
}


@media screen and (max-width: 640px) {

    .project-content-period {
        justify-content: space-between;
        gap: 0rem;
    }

    .project-content-tools {
        flex-wrap: wrap;
    }

    .project-content-tools .project-tools {
        font-weight: 400;
    }
}

@media screen and (max-width:460px) {

    .project-col p {
        text-align: start;
    }

   

    .demo-prev span {
        padding: 7px;
    }



}