footer {
    width: 100%;
    height: inherit;
    background: rgb(22, 22, 22);
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 30px 5em;
    color: #fff;
}

footer h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.mail{
    display: flex;
    gap: 5px;
    align-items:center ;
}
.mail-content{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.mail-icon{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.social-media-wrapper {
    display: flex;
    gap: 1em;
}

.social-media-wrapper .social-icons {
    padding: 10px 5px 5px 5px;
    border-radius: 4px;
    background: rgba(107, 107, 107, 0.466);
    
}

.social-media-wrapper .social-media-icons {
    font-size: 20px;
    color: white;
    opacity: 0.9;

}

@media screen and (max-width: 769px){
    footer{
        padding: 20px;
        display: flex;
        flex-direction: column
    }
}