.profile-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 6em 5em;
}

.profile-text{
    width: 50%;
    background-color: rgba(22,22,22);
    padding:  1em;
}
.profile-img{
    width: 50%;
    height: 400px;
    
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-text h4{
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    color: white;
    opacity: 0.8;
    text-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 4.3rem;
    
}

@media screen and (max-width:773px) {
    .profile-wrapper{
        padding: 20px;
        flex-direction: column;
    }
    
    .profile-text{
        width: 100%;
        order: 1;
    }
    .profile-img{
        width: 100%;
        
    }
    .profile-img img{
        object-fit: contain;
        object-position: center;
    }
}

@media screen and (max-width: 640px) {
    

    .profile-text h4{
        font-size: 18px;
        
    }

    
}